
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}
header{
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
}
header h4{
    color: rgb(0, 0, 0);
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.1rem;
}
/*splash screen*/

.intro{
    color: white;
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #845dd3;
    transition: 1s;
}
 .logo-header{
    position: absolute;
    top: 40%;
    left: 40%;
    color: white;
    transform: translate(-50%,-50%);
    
}
.logo{
    
    position: absolute;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}


section{
    margin-left: 10px;
    float: left;
    position: relative;
    left: 5%;
    right:5%;
    border: solid 2px #000000;
    border-radius: 2px;
    width: 40%;
    
}
section .card{
    padding: 5px 5px 5px 5px;
}
section .card a,button,p,img{
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
button{
    height: 50px;
    border-radius: 2px;
    background-color: #845dd3;
    color: white;
    border:none;
}
button:active{
    background-color: #6745ac;
    transition: 1s;
    
    border:none;
}
.quebdiv section{
    margin-top: 10px;
}
